[2012-01-08 14:51] crategus opened #1 "gtk.table.lisp compiles with two notes"
This is the output from SBCL 1.0.53:

; compiling (DEFUN GTK-TABLE-ATTACH ...)
; file: /home/dieter/Lisp/lisp-projects/cl-gtk/gtk/gtk.table.lisp
; in: DEFUN GTK-TABLE-ATTACH
;     (GTK::GTK-TABLE-ATTACH GTK::TABLE GTK:WIDGET GTK::LEFT GTK::RIGHT GTK::TOP
;      GTK::BOTTOM GTK::X-OPTIONS GTK::Y-OPTIONS GTK::X-PADDING GTK::Y-PADDING)
;
; note: The seventh argument (in keyword position) is not a con

[2012-01-08 15:13] crategus opened #2 "Missing files in gobject"
The following files of the library gobject are missing:

   gobject.boxed-lisp.lisp
   gobject.boxed.lisp
   gobject.base.lisp

[2012-01-08 15:31] #2 closed, assigned to nobody

[2012-01-08 15:53] crategus opened #3 "Lisp symbols for class names not registered"
Lisp symbols for class names which correspond to the GTK names like gtk-box for "GtkBox" are not registered and stored in the global Hash-table _registered-object-types_. This causes problems when defining the child properties for a class with the macro define-child-property.  This macro looks up only the registered name from the Hash-table.

[2012-02-26 21:22] crategus opened #4 "Function gtk-fixed-move gives a Gtk-CRITICAL error"
The tutorial example for GtkFixed gives an error when trying to move the button.

This is the build info:

cl-cffi-gtk version: 0.0.0
cl-cffi-gtk build date: 22:14 2/26/2012
GTK+ version: 2.24.4
Machine type: X86
Machine version: Intel(R) Pentium(R) M processor 1.73GHz
Software type: Linux
Software version: 2.6.38-13-generic
Lisp implementation type: SBCL
Lisp implementation version: 1.0.53

NIL
-

[2012-02-26 21:23] #1 closed, assigned to nobody

[2012-04-08 23:17] crategus opened #5 "gtk-label-attributes -> GLib-GObject-CRITICAL"
cl-cffi-gtk version: 0.0.0
cl-cffi-gtk build date: 0:50 4/9/2012
GTK+ version: 2.24.6
GLIB version: 2.30.0
Machine type: X86
Machine version: Intel(R) Pentium(R) M processor 1.73GHz
Software type: Linux
Software version: 3.0.0-17-generic
Lisp implementation type: SBCL
Lisp implementation version: 1.0.53

This is the example which gives the error message:

(defvar label (make-instance 'gtk-label))

[2012-05-19 19:57] #4 closed, assigned to crategus

[2012-05-22 14:23] metadeus opened #6 "Error division-by-zero in first example from tutorial"
Empty window appears but then error signalled.

cl-cffi-gtk commit b4087629
SBCL 1.0.55
Ubuntu 12.04 x64

Error:
arithmetic error DIVISION-BY-ZERO signalled
   [Condition of type DIVISION-BY-ZERO]

Restarts:
 0: [TERMINATE-THREAD] Terminate this thread (#<THREAD "cl-gtk2 main thread" RUNNING {1008CF0373}>)

Backtrace:
  0: ("foreign function: #x200D539DA2")
  1: ((LAMBDA () :IN BORDEAUX-THREADS::B

[2013-04-11 15:39] longlene opened #7 "load package atdoc failed"
I got an error when I load the cl-cffi-gtk:

; compiling (DEFCONSTANT G-PRIORITY-HIGH ...)
;
; caught ERROR:
;   READ error during COMPILE-FILE:
;
;     Package ATDOC does not exist.
;
;       Line: 615, Column: 59, File-Position: 22941
;
;       Stream: #<SB-SYS:FD-STREAM
;                 for "file /usr/share/common-lisp/source/cl-cffi-gtk/glib/glib.main-loop.lisp"
;                 {1003A49B93}

[2013-04-11 21:21] #7 closed, assigned to crategus

[2013-05-03 15:07] crategus opened #8 "Unknown GBoxed type 'GVariantType'"
Running the tests for the GIO library gives the error message:

   Execution error in GIO-SIMPLE-ACTION-GROUP: Unknown GBoxed type 'GVariantType'

Furthermore the example "Simple GTk+ Application" of the GTK+ Lisp Tutorial does no longer work as expected, but gives the same error.

GVariantType was first implemented as of type GBoxed. This has been changed to a simple CStruct. There seems to be so

[2013-05-05 11:59] #8 closed, assigned to crategus

[2013-05-05 12:00] #6 closed, assigned to nobody

[2013-09-10 21:32] deadtrickster opened #9 "undefined gtk-file-chooser-filename in file chooser example"
I suppose it should be called gtk-file-chooser-get-filename, and be defined with something like

[code]

I wish I could create push but your documentation style looks a bit complex for me.

[2013-09-10 22:51] #9 closed, assigned to crategus

[2013-10-16 23:33] PuercoPop opened #10 "Failing to load cl-cffi-gtk"
Steps to reproduce: clone cl-cffi-gtk to ~/quicklisp/local-projects/

(ql:quickload :cl-cffi-gtk)

I'm on OS X 10.8.5, SBCL 1.12 and gtk+ 3.10.1 (using homebrew)
Here is the backtrace

[code]

[2013-10-17 21:41] #10 closed, assigned to crategus

[2013-10-22 16:39] vityok opened #12 "Quicklisp"
Probably this was asked before, but would you like to submit this project to the Quicklisp projects repository?

[2013-10-22 16:41] vityok opened #13 "Ignore versions in the *features*"
At the moment, if a native library is older than the required minimum then the loading/compilation will be interrupted. It can be continued if you select "ignore". Is it possible to make some special keyword on the `*features*` list to automatically ignore version incompatibilities?

[2013-10-23 20:04] #13 closed, assigned to nobody

[2013-10-24 10:54] vityok opened #14 "Failure to load on Clozure CL"
Hi Dieter,

Clozure CL is generally more easily available (distributed in pre-compiled and ready to use form on its official Web site) so I decided to load CL-CFFI-GTK in it.

Ccl reports following error:

[code]

whilst loading `cl-cffi-gtk/gobject/gobject.boxed-lisp.lisp`

I've got Clozure CL 1.9 LinuxX8632.

[2013-10-24 11:38] vityok opened #15 "DIVISION-BY-ZERO in some cases on SLIME"
This issue was reported before as #6 but it still remains here. It is reproduced if you save some lisp program (like Example 2.2 from the tutorial) into a file and then load it into SLIME with C-c C-l key combination (`slime-load-file`). But, if you load the same file using load function:

[code]

then the problem is not reproduced.

I've got SLIME 2013-09-29 but I guess that this problem does not

[2013-10-28 00:16] #14 closed, assigned to crategus

[2014-01-23 17:51] grapesmoker opened #16 "single asd file for entire project"
Hi,

First off, I just wanted to thank you for this amazing project. It's the best GTK+ binding for lisp that I've seen so far and has been very useful to me. I was wondering if there was any particular reason that there isn't a single ASD file to load the entire project, including the demos, rather than having to load all the component systems individually. I'd be happy to help work on a single f

[2014-04-10 15:33] zabbal opened #17 "generic keybinding example"
It would be handy to have generic key binding example: for example I'd like my gtk app to fire particular function when "ctrl+t" or "ctrl+n" is pressed. I know about accelerators but it seems they are tied to menus and it's unclear which gtk signal I have to watch for if I don't have any menus in my gtk app but still wold like to handle some key bindings explicitly.

[2014-04-10 15:36] zabbal opened #18 "dbus example"
Would be great to see some examples on using gdbus - there seems to be some code for that in gio/gio.application.lisp but no examples yet.

[2014-04-10 15:40] zabbal opened #19 "spawn example"
Would be great to have examples for spawning child process with a given environment variables - there seems to be some code for that in glib/glib.main-loop.lisp and in glib/glib.utils.lisp but no examples in the tutorial yet.

[2014-04-17 15:05] zabbal opened #20 "quicklisp support"
There are some old gtk bindings available via quicklisp but not this one. Would be great if http://www.quicklisp.org/beta/ could work out of the box.

Since cl-cffi-gtk depends on quite a few other libraries this would also simplify installation and let users to start with actual development quicker.

Note - all of the dependencies mentioned in http://www.crategus.com/books/cl-gtk/gtk-tutorial_2.h

[2014-04-17 16:21] #20 closed, assigned to nobody

[2014-04-17 22:29] zabbal opened #21 "threaded clisp support"
According to tutorial it works fine with clisp 2.49 on Linux but in my case I've got error because Bordeaux-Threads are not supported due to multithreading being experimental feature (it may segfault clisp) which is not enabled by default.
Is there some workaround used or clisp was rebuild --with-threads?

[2014-05-18 15:18] #17 closed, assigned to nobody

[2014-05-18 16:06] #18 closed, assigned to nobody

[2014-05-21 21:56] #15 closed, assigned to crategus

[2014-06-25 02:36] ghost opened #23 "Potential fix for crash under win32 when moving window"
Hi Crategus,

According to http://gtk.10911.n7.nabble.com/Glib-2-32-x-Win32-and-threading-td60746.html this originates as an issue with GLIB/GDK functions #'gdk-threads-init, #'gdk-threads-enter and #'gdk-threads-leave under Win32 (or any non X11 environment).

I was able to fix for my app in Windows XP by just commenting out lines:
64, 65, and 70 in gtk/gtk.init.lisp.

Ideally detecting if the en

[2014-07-31 01:31] EuAndreh opened #25 "Can't run a buildapp compiled app"
Hi there!

I had this problem the other day and [posted about it](https://groups.google.com/forum/#!topic/comp.lang.lisp/WpdcTd5vqK0) on the Lisp mailing list, but I didn't get many answers, so I came to the source =]

Here's a (edited) copy of the mailing list post:

I'm trying to run a compiled version (with buildapp) of a fully-functional interpreted GUI code, but the compiled code shows some s

[2014-08-25 13:02] AeroNotix opened #26 "Stop bundling lisp-unit"
With the advent of quicklisp, there's no reason to be bundling lisp-unit with this project any more.

It ends up being that lisp-unit in cl-cffi-gtk's can override the package that may or may not be at the version you want which you installed via quicklisp.

[2014-09-10 12:03] joachifm opened #27 "Generated symbol names depend on `*print-case*` et al"
Throughout, `(intern (format nil ...))` is used to generate symbol names.
The actual names generated in this way depend on the values of `*print-case*`
and whatever other variables `format` consults, which has the potential to
cause some grief for people using non-standard values (e.g., `:downcase`).

[2014-10-13 21:46] plops opened #28 "within-main-loop aborts with DIVISION-BY-ZERO in SBCL 1.2.4 on amd64 in SLIME"
When trying to run this code (which is just one of the demos from the tutorial) from within SLIME in Emacs, the program aborts with a DIVISION-BY-ZERO signal.

[code]

This is the error message:

[code]

If I run the code from the command line with `sbcl --load gtkclock.lisp` it works fine.
As a temporary fix I wrap `within-main-loop` with `sb-int:with-float-traps-masked (:divide-by-zero)`

[2014-10-17 19:11] plops opened #30 "If the window title is "clock" the window is not toplevel, even when explicitly requested."
The functions run and run-works have identical code except for the window title.
The function run created the window without close button.

![2014-10-17-21 09 10](https://cloud.githubusercontent.com/assets/131941/4684516/4cf826fe-5631-11e4-98b6-0d76b5973096.png)

[code]

[2014-11-03 17:49] plops opened #31 "Signal handler for "edited" signal of gtk-cell-renderer has insufficient parameter list"
I'm trying to separate construction of a tree-view and its model as much as possible.
When defining the "edited" signal for the text-renderer of text (in this case actually a spin-box showing double-float values) I don't have access to the treeview and therefore can not access the model to update its value.

The following code is working but I would prefer, if the signal for "edited" could be defi

[2014-11-05 14:29] plops opened #32 "typo in export of g-signal-stop-emission"
There is a typo in gobject.signals.lisp. The wrong function name is exported.
I fixed it for me in this commit:
https://github.com/plops/cl-cffi-gtk/commit/27cb11e125dbfff1e8903b058c424653b1effae9

[code]

[2014-11-06 21:27] #32 closed, assigned to nobody

[2015-01-12 20:35] jkordani opened #33 "osx 10.7,ccl, macports gtk3.14 glib2.42 crash when running example simple window"
tried with ccl trunk and ccl 1.9, crashes ccl when attempting to run the example simple window code.

I should mention that i am using the gtk3 package with quartz, not x11.  I'll try that too.

[2015-01-12 20:40] jkordani commented on #33
looks like the x11 port results in a blank window being created.

[2015-01-12 21:24] jkordani opened #34 "osx 10.7, ccl trunk, gtk3@3.14.5_1+x11 gtk-demo:main not responsive"
after quickloading :cl-cffi-gtk-demo-gtk and evaluating gtk-demo:main,  the gtk+ lisp code demos window opens, with 2 panes.  On the left is all the text for the different examples, but the right window does not update when a new text on the left is selected.  different backtraces are produced when the different entries are doubleclicked, the one for button widgets is shown below.

The value NIL i

[2015-06-24 21:35] dertuxmalwieder commented on #23
The patch that came with 3afe137e22c95f26d604e586f6d11d3ed8db5868, sadly, did not fix the issues. Clozure CL on Windows 8.1 still freezes everything when moving a window. :(

[2016-03-08 19:55] ralph-schleicher opened #38 "SBCL STYLE-WARNING: Undefined alien"
Hi Dieter,
if you create an image in SBCL, e.g. via

     (ql:quickload "CL-CFFI-GTK")
     (sb-ext:save-lisp-and-die "cl-cffi-gtk.core")

and  run SBCL with that image, e.g.

     sbcl --core cl-cffi-gtk.core

then you get hundreds of warnings of the form

     STYLE-WARNING: Undefined alien: "gtk_get_major_version"
     STYLE-WARNING: Undefined alien: "gtk_get_minor_version"
     STYLE-WARNING:

[2016-04-11 12:51] Ferada commented on #31
AFAIK the library follows whatever GTKs API does, so since the `edited` signal doesn't have that parameter, it won't be put in here. In the C API you're kind of expected to supply whatever data you need with the `user_data` parameter - likewise you'd do what you've already written above in the Lisp binding instead.

I guess you could put some custom data on the renderer, but your current solution

[2016-04-11 12:53] Ferada commented on #30
Does [this](https://unix.stackexchange.com/questions/239454/no-window-title-bar-when-x-toolkit-title-argument-ends-in-lock) look like it? In which case it's unrelated to either this library or GTK in general.

[2016-04-11 13:34] Ferada commented on #38
@ralph-schleicher I took the diff and created [a PR here](https://github.com/crategus/cl-cffi-gtk/pull/39), however I'll close it if you'd like to create your own instead.

[2016-04-11 14:17] Ferada commented on #34
@jkordani the top-level entries aren't supposed to be activated I think; I pushed a fix to #41; however that will only prevent the error, not that clicking on the entries doesn't do anything.

[2016-04-11 17:20] ralph-schleicher commented on #38
That's fine for me. Thanks.

[2016-05-15 04:17] LaloHao commented on #28
Try wrapping the function

[code]

[2016-07-22 10:55] mobius-eng opened #43 "Add ARM architecture (for Raspberry Pi)"
It's sort of "a bit" works on Raspberry Pi 3 with Ubuntu MATE 16.04. File "glib.misc.lisp" does not have ARM architecture to define `G-SIZE` C-type. I've made it `:ULONG` - everything compiles, but not sure if it is a correct value. It can create Gtk window (just running first frew examples from the tutorial), but it's not possible to set up the title and these wornings apear in REPL (or rather in

[2016-08-22 02:23] stacksmith opened #44 "Tree-view drag and drop - can't set gtk-selection-data"
I will try to describe the issue as my code is large right now...

With a tree control, upon enabling gtk-tree-view-enable-model-drag-dest (and source),
on "drag-data-get" signal I set the gtk-selection-data passed to me (it is a "text/uri-list" type drag).  It appears to work fine (I can print it and the data, length, type and format are set correctly).

However, "drag-data-received" is invoked w

[2016-08-22 22:38] stacksmith commented on #44
Actually, immediately after (gtk-selection-data-set-uris data (list "....")) (and seeing the output above), calling
(gtk-selection-data-get-uris data) returns NIL!

[2016-08-23 08:51] Ferada commented on #44
@stacksmith can you perhaps post a minimal example so it's easier to reproduce this?

[2016-08-23 18:35] stacksmith commented on #44
Minimal turned out to be about 150 SLOC.  To run it in slime, (ql:quickload :cl-cffi-gtk), compile the file, (in-package :cl-trtest) (test). Messing around tends to lock the GUI, so I often switch to a text console and kill SBCL and go back to GUI and restart slime.  Sadly, (test) needs to be re-run upon any change in source...Note that most signals are not connected, just "drag-data-get" and "dra

[2016-08-23 18:47] stacksmith commented on #44
I am not sure why I, but I think that selection-type may have something to do with it.  It comes in as a string, but is internally an atom...  Is the setter looking up the atom?  Interning is problematic as there is no way to tell if the atom existed (it probably should be fixed).  Selection access - especially setters - caused some issues with my old code - I haven't had time to work the example

[2016-08-23 23:24] Ferada commented on #44
Something like that; the boxed selection data gets converted from C, the type is invalid and results in `NIL` on the Lisp side, which, when converted back for the `-set-uris` call, falls flat.

The whole boxed representation for selection data seems overkill here.

Unfortunately I don't see a quick fix for this - either the selection data type would need to be changed to the `-opaque` handling, or

[2016-08-23 23:57] stacksmith commented on #44
I am using nemo mostly, although PCMANFM acts the same way, so I am pretty sure inbound drags work fine and outbound drags are crap.

Ferada, adding lf/cr does not help (I noticed that earlier and it was on my list of things to try.

I do not have a workaround for dragging out to other applications, unfortunately!  Inbound drags work fine, and for inside drag/drop it is simple enough to install a

[2016-08-24 05:32] stacksmith commented on #44
Hmm.  Are (gdk-drag-context-get-actions) and (gdk-drag-context-get-suggested-actions) really not implemented?

[2016-08-24 12:47] Ferada commented on #44
The wrappers aren't particularly complicated to add, e.g.

[code]

in `gdk/gdk.drag-and-drop.lisp` should do it, just follow the lead (and then create a PR).

[2016-08-24 15:57] stacksmith commented on #44
Thanks for the binding pointers.  I will PR when I get a chance.
I think that more drag and drop treeview problems exist.  I could not get the widget to highlight rows from my "drag-motion" handler yesterday.
 I suppose I should work up a parallel C case (who knows what problems lie inside the Python bindings) to show that the problem really exists.  I **was** hoping to stay in Lisp for the rest o

[2016-08-24 21:06] Ferada commented on #44
I didn't get any further I'm afraid. I'm relatively sure that the following is *more* correct than the current boxed representation though since it updates the original object instead of a copy:

[code]

That said, I still can't get other applications to see anything but an empty string in the data and it's frustrating to debug.

[2016-08-24 23:03] stacksmith commented on #44
Yes, frustrating.  I am constantly shelling out to `kill -9 $(pidof sbcl)` and restarting slime...

I am also fairly certain that   `(gtk-tree-view-set-drag-dest-row ...) `has no effect whatsoever on the treeview...

[2016-08-29 22:42] stacksmith opened #46 "gdk-event state accessor returns list of keywords instead of a numeric bitmask"
At least for key events...
I am not sure if it is by design, but it is much more difficult to deal with a list of keywords to see what modifiers (shift, control, etc) are in play.  It should be a simple and operation, instead scanning the list for each modifier is necessary.
Calling (gdk-event-key-state event) returns a list of keywords.

Looking at the event structure in the bindings, it looks li

[2016-09-22 17:09] stacksmith opened #47 "gtk-widget-get-parent-window always returns NIL"
I haven't been able to get anything out of gtk-widget-get-parent-window.

In addition, it seems to require the widget to be a window (or at least does not like treeviews).  The definitions shows the parameter declared as:

    (widget (g-object gtk-window))

If anyone has any ideas, please let me know.

[2016-09-22 17:23] stacksmith opened #48 "(gdk-cursor-new-from-name (gdk-display-get-default) ...) returns nil no matter what"
I tried names from `https://developer.gnome.org/gdk3/stable/gdk3-Cursors.html#gdk-cursor-new-from-name` with no luck.  NIL always.

[2016-09-22 17:24] #46 closed

[2016-10-02 19:35] stacksmith opened #49 "GtkCellRendererText "edited" signal invoked incorrectly"
The handler receives a string containing the tree path of the item edited instead of a path object.

[2016-12-15 23:54] stacksmith opened #50 "g-idle-add-full binding has wrong type for PRIORITY"
Your code is `(priority :uint)`, whereas GDK documentation shows gint
[code]
See https://developer.gnome.org/glib/stable/glib-The-Main-Event-Loop.html

[2016-12-21 11:14] Ferada commented on #49
But that's how it's defined in the documentation too, c.f. https://developer.gnome.org/gtk3/stable/GtkCellRendererText.html#GtkCellRendererText-edited.

[2016-12-21 11:17] Ferada commented on #50
I put a fix [here](https://github.com/Ferada/cl-cffi-gtk/commit/6a080f223f85d24086d599c69354db9eff92e5ea).

[2016-12-21 11:23] Ferada commented on #47
For the second part I put a fix [here](https://github.com/Ferada/cl-cffi-gtk/commit/4451861f773c2d7be8e365966ba9763cd43aea33).

I actually get a result from that function, maybe try again with the fix?

[2016-12-21 11:27] Ferada commented on #48
`(gdk-cursor-new-from-name (gdk-display-get-default) "default")` works for me. In what context are you running this?

[2016-12-23 05:47] stacksmith commented on #49
My mistake.

[2016-12-23 05:47] #49 closed

[2016-12-23 05:51] stacksmith opened #51 "gtk_text_iter_get_attributes not implemented"
Would it be possible to add that?  I think the underlying structures are actually implemented already...

[2016-12-23 05:52] stacksmith commented on #50
Thank you!

[2016-12-23 05:52] #50 closed

[2016-12-23 05:54] stacksmith commented on #48
Sadly no longer have the code that needed it...  I will try to check it when I get a chance; let's assume it works since it works for you!

[2016-12-23 05:54] #48 closed

[2016-12-23 12:04] Ferada commented on #51
Sorry but isn't that defined in `gtk.text-iter.lisp`? Or did you mean a different function?

[2016-12-23 20:57] stacksmith commented on #51
@Ferada, you are right - I meant **gtk_text_iter_get_default_attributes**!  Without it, gtk-text-iter-get-attributes is not useful, as I understand the situation.

[2016-12-27 01:20] stacksmith commented on #51
Thanks! I tried it myself, but got lost in cffi crap.  Your patch should help.

[2016-12-29 02:21] stacksmith commented on #50
@ferada, are you planning to merge your fixes into the @crategus repo?

[2016-12-31 00:34] Ferada commented on #50
If I could I would; I'm going to ask if I can get permissions or do maintenance officially I guess.

[2017-01-10 06:56] stacksmith opened #52 "UTF8 vs byte mismatch in "insert-text" message"
I am not sure what to do with this one, but it wasted a lot of my time.
The Lisp handler is invoked after CFFI converts the string to Lisp.  But the len parameter is a byte count, the meaning of which is now lost, since we don't have bytes anymore.  I think a character count would be more correct...

[2017-02-03 18:51] stacksmith opened #53 "gtk-text-mark-new and (make-instance 'gtk-text-mark) crash immediately!"
I get memory fault errors on SBCL.  In addition I noticed that there are 6 of these:
[code]
in the log.  Somehow someone attempts to get an iter on the new mark, as it is being created...

[2017-02-04 15:58] Ferada commented on #53
In a fresh instance I can't get it to do that, not even in the text buffer demo, do you have a reproducible example for it?

[2017-02-04 16:35] stacksmith commented on #53
Thank you @Ferada.  You are correct.  I must have done something very weird, as just quickloading the project I live in makes it gtk-text-mark-new not work!  Before closing, I will chase it down just in case it is something useful to others.

[2017-02-04 16:44] stacksmith commented on #53
Gah! My fault - a fancy print-object doing  stupid things that were once helpful.  Thank you again.

[2017-02-04 16:44] #53 closed

[2017-02-04 17:35] Ferada commented on #52
Agreed this is an edge case. Perhaps the string conversion shouldn't actually be done automatically in case the user doesn't want that to happen?

Btw. are you on freenode? I'm wondering if work on this library can be a bit more organised, so feel free to come chat (I'm using `ferada` on there), I don't want to misappropriate the issue tracker here too much.

[2017-02-12 20:32] stacksmith opened #54 "cl-cffi-gtk/gdk/gdk.event-structures.lisp mis-spells 'touch-cancel' as 'touch-canel'"
In many places...

[2017-02-14 22:34] Ferada commented on #54
Fixed here https://github.com/Ferada/cl-cffi-gtk/commit/a1bd4d7836ea252120adb3fdaecac5e1bff57897.

[2017-02-15 02:04] stacksmith commented on #54
Thanks, @Ferada... Check out https://github.com/stacksmith/subtext when you get a chance.

[2017-04-06 10:22] ryukinix commented on #38
I have the same problem. Any news about that issue?

[2017-04-06 10:25] ryukinix commented on #12
The project is already on Quicklisp index. I can load using `(ql:quickload 'cl-cffi-gtk)`. But why this issue still open?

[2017-04-06 13:14] Ferada commented on #38
@ryukinix take a look at https://github.com/Ferada/cl-cffi-gtk/tree/fixes - I'm maintaining ongoing fixes and am also trying to revive this / take over maintainership, but that's a slow process. If you'd like to discuss things more easily maybe come by on Freenode on the #cl-cffi-gtk channel.

[2017-04-06 19:43] ralph-schleicher commented on #38
@Ferada is right. For the moment you have to fork cl-cffi-gtk and merge patches from other forks as you please.

[2017-04-06 21:34] ryukinix commented on #38
Thanks for the advise! Great lib and good docs, btw.

[2017-06-26 18:47] Ferada commented on #44
@stacksmith long time no see. Take a look at https://github.com/Ferada/cl-cffi-gtk/commit/7bc75fe49987ae07d821ef20fc31af73c07193b3 / the master branch still. I've readded the drag&drop examples and they seem to work fine now. The issue is a simple copy of the boxed GtkSelectionData structure, which prevents the modifications to go through the original object. There's also another breaking change f

[2017-06-28 23:19] stacksmith commented on #44
@ferada - thank you so much!  I was just dreading revisiting the issue... I will take a look at your repo; I have a bunch of cairo and pango bindings I've been meaning to contribute...  Are you taking over the library?

[2017-06-29 09:58] Ferada commented on #44
@stacksmith well, effectively yes, at least I'm doing my best to fix and improve things. I've submitted a request for change of repo on Quicklisp with an explanation too, you can vote on that if you like.

If you've got things I'm happy to look at PRs.

[2017-06-30 23:28] stacksmith commented on #44
Is there a place to vote?  It looks like your request is not being challenged, other than attribution...

[2017-07-02 11:43] Ferada commented on #44
Nah, I meant as in writing "I want this too!" ^^

[2017-07-02 18:26] stacksmith commented on #44
I am happy do to that, but Xach is often grumpy about things like that...  ah, what the heck...

[2017-10-14 13:12] bigos opened #55 "cl-cffi-gtk not freezing with sbcl 1.3.15"
It is strange. I tried first with sbcl and I couldn't even get the cairo-demo-clock to run. When I installed CCL I could see the clock run on Windows, but it would freeze as expected when moving the window. To try to investigate it I have installed Process Hacker http://processhacker.sourceforge.net and started experimenting with CCL crashes. Process Hacker did not give me any clues, so I tried wi

[2017-10-24 23:28] bigos commented on #55
https://common-lisp.net/project/commonqt/#known-issues

Could this be a clue?

[2017-11-14 16:00] Ferada commented on #55
At this point anything could be happening, if you can come up with a way where it reliably breaks I'd be happy to debug a bit ... I've also noticed that CCL vs SBCL have some interesting ways where they're more or less likely to crash on the GC, threads and interactions with the GTK/... C side. If you hadn't seen that yet, you can enable lots of verbose log messages in `gobject/gobject.init.lisp`

[2017-11-14 20:22] bigos commented on #55
I was messing up with trying to install Haskell and its Gtk libraries and my Lisp setup has stopped working. So at the moment, I am unable to help.

[2018-01-25 17:34] sebastien-villemot commented on #28
Duplicate of #6 and #15. Somehow related to SLIME (the problem does not appear outside of SLIME).

[2018-02-06 15:38] vityok commented on #43
The problem also exists while running on a default Raspbian:
[code]

and the system eventually crashes even with the most basic example.

[2018-02-22 15:12] #25 closed

[2018-02-23 12:29] vityok opened #57 "is the project still alive?"
Commit logs show that the last commit has been submitted almost 2 years ago, in 2016. There is a backlog of open tickets and pull requests. Meanwhile @crategus seems to show no significant activity on Github.

If it is still possible, maybe moving the repository to a "project" and inviting new committers might unfreeze the progress?

With best regards

[2018-02-23 15:23] Ferada commented on #57
@vityok I'd like to invite you to my bit of a maintained branch at https://github.com/Ferada/cl-cffi-gtk - still "only" Gtk 3 and I can't promise anything, but I'm always happy to either merge things in and/or help out for specific issues. I also have a couple more additions in progress, in particular GStreamer for video playback and the OpenGL widget ... if that's something that you'd be interest

[2018-02-28 10:19] vityok commented on #57
@Ferada thanks for the invitation. Though I think that as people come and go, some get interested in the project, some eventually loose interest, it might be better to setup a Github "project" to maintain the repository at a single location, with the documentation, and also update Quicklisp to use the maintained repository instead of the existing one.

[2018-02-28 15:46] Ferada commented on #57
@vityok absolutely right and I'd love to, unfortunately I had little success to move forward either of those points.

[2018-03-05 11:04] vityok commented on #57
I've created a GitHub organization to let great Common Lisp libraries that are no longer maintained find their new contributors: https://github.com/lisp-projects would be nice if this repository moved there...

by adding new members to the organization it would be possible to carry on the work without disruptions associated with a small number of developers losing interest

[2018-03-05 15:39] PuercoPop commented on #57
There is already an organization for that, @sharplispers

[2018-03-06 11:35] vityok commented on #57
@PuercoPop oh, thank you very much for letting me know. This organization's name is a little bit counter-intuitive and I couldn't find it with simple searches on Github.

What is their policy for accepting new members and new repositories?

[2018-03-06 13:12] PuercoPop commented on #57
I'm not sure, I've seen them take new repos from requests to move them from their original sources, Ironclad. I'm guessing the best way to find out would be to contact Xach.

[2018-03-06 15:06] vityok commented on #57
I'm wondering if we can do this via Github by mentioning their handles.

Hi @xach what is the current policy for admitting new projects to the @sharplispers?

[2018-03-09 15:16] svillemot commented on #57
Hi! Just to say that I would be interested in contributing to the collective maintenance of cl-cffi-gtk.

My primary interest would be to add support for some features introduced in recent versions of GTK in the 3.x series.

[2018-03-12 13:28] vityok commented on #57
@svillemot , apparently to do this in a graceful manner maintainers of this repository should initiate its transfer to a community organization, like @sharplispers. Of course, it is still possible to just fork the repo and go on. But IIRC transfering it is preferable.

Also the community at, for example, @sharplispers, should be ready to accept it.

[2018-03-12 16:31] svillemot commented on #57
Given that @crategus has not been active in github for a long period of time, and did not jump into this discussion, I think it is unlikely that he will initiate the transfer (though I would be happy to be proven wrong). So a fork looks like the only practical option.

Concerning the receiving organization, this is less of a problem. It's always possible to create a new one if @sharplispers for so

[2018-04-08 17:45] ucikirk commented on #57
So what has been decided? Do I do (ql:quickload :cl-cffi-gtk), clone this project, or something else?

I am an old Lisp hacker from the 70s and 80s that is just getting back into hacking Lisp again. I found this project, which seems to be the best free gui for Lisp development that works.

I want to build operational software. From that perspective I am not willing to fix defects that others find,

[2018-04-08 17:52] svillemot commented on #57
Nothing has been decided yet. We're going to contact @crategus again to get the permission to move this repository to an organization, and therefore keep the "cl-cffi-gtk" name. If that's not possible, we're going to fork it.

In the meantime, your best bet is to use the fork started by @Ferada, where current work happens.

[2019-06-15 17:25] stacksmith opened #59 "typo in g_object_set_data_full: parameter destroy is spelled as 'destory'"

[2019-06-18 21:21] stacksmith opened #60 "gdk-keymap-get-entries-for-keycode BUG"
The intent is to return 2 values but because of prog1 only the primary value is returned.  The array of keyvals is therefore lost!
Edit: see gdk.key-values.lisp

[2019-06-18 23:40] stacksmith commented on #60
Another bug here: the loop reads the first keyval only!
[code]
should be
[code]

[2019-06-18 23:45] stacksmith commented on #60
I won't bother with a pull request since @crategus never responds, but if anyone cares, here is the fixed version
[code]

[2019-06-18 23:48] stacksmith commented on #60
@Ferada, take note...

[2019-06-23 19:32] crategus commented on #60
Many thanks for your help. I have corrected the code as suggested. I will commit the code soon. Yes, I have some communication problems for my project. I try to do better.

[2019-06-23 19:33] #60 closed

[2019-06-24 20:37] stacksmith opened #61 "BUG: gtk-text-tag-table-add return value should be :boolean"
It is erroneously void.  This makes it impossible to tell if the tag has been successfully added

[2019-06-25 18:51] stacksmith opened #62 "MISSING: letter-spacing property in gtk-text-tag"
I don't know the syntax for install-properties function... I wound up duplicating the entire gtk-text-tag definition, and including `letter-spacing` and `letter-spacing-set` in the correct alphabetical space like this:
[code]

[2019-06-25 18:56] stacksmith opened #63 "MISSING: pango-stretch enums - and most of pango"
pango-stretch is one of the defined properties of gtk-text-tag, but I could not find the enumerations...
[code]

[2019-06-25 19:57] stacksmith opened #64 "WRONG: iters should not be allocated in GTK-TEXT-BUFFER and -VIEW"
All gtk-text-buffer functions that return iters are implemented incorrectly, or at least miss the point of how GTK intended to use iterators.
All native GTK functions that use iters as positions **do not allocate** them, but **alter the positions of existing iters**.  The idea is that you create a few iters up-front, and use these functions to modify them, prior to freeing the iters.
Unfortunately

[2019-06-25 20:42] stacksmith opened #65 "BUG: gtk-text-iters are never deallocated"
Unless I am missing something.
There is no binding for `gtk-text-iter-free`
[code]
There seems to be no provision for freeing iters, which are erroneously allocated all over the place (see related issue #64).

[2019-06-25 22:03] stacksmith opened #66 "BUG: gtk-text-iter allocation is completely nuts"
Again, if I don't understand it correctly, I apologize in advance.  However:
gtk-text-iter-alloc:
[code]
So this creates a temporary, blank, uninitialized foreign structure %gtk-text-iter.  It then calls %gtk-text-iter-copy to copy this blank, uninitialized iterator for some reason.  The only remotely rational reason to do this is to allow gtk to do its own allocation using slice_alloc, etc - then

[2019-06-26 02:13] stacksmith commented on #65
Actually, iters may be allocated anywhere; only iters created by GTK need to be deallocated using `gtk-text-iter-free`.  It would make more sense to foreign-alloc them and manage them as any foreign object.

[2019-06-28 22:27] Ferada commented on #64
I'm guessing you're seeing more of an impact of this due to how often these functions are called from your code?

For backwards-compatibility as far as I can see there's only two ways to change this:

1. Export the `%gtk` functions.
2. Add an `&optional (iter (make-instance 'gtk-text-iter))` (respectively `&key ...`) argument.

The return value would stay the same though, but it'd just be returnin

[2019-06-28 23:58] stacksmith commented on #64
Since I've been annoyed by this for years, I wound up just reimplementing iters as simple cstructs, as well as all GtkTextIter, GtkTextBuffer and GtkTextView since these make use of iters extensively.  It was a bit of work, but I got to test some neat cffi-related macros.  The resultant bindings sit alongside existing ones, in their own packages - gtb, gtv, and gti.
There were many unimplemented f

[2019-06-29 00:07] stacksmith opened #67 "BUG: gtk-text-attributes cstruct is incorrect"
See gtk/gtk.text-tag.lisp  - at the end, it is:
[code]
while recent gtk documentation shows
[code]
So there are 4 single-bit packed values, and 3 more are missing.

[2019-06-29 03:09] stacksmith commented on #64
God help me.  I just noticed that gdk-event structures are boxed...  I surely hope they get deallocated somewhere..

[2019-06-29 11:46] Ferada commented on #67
Yeah I'm super annoyed with GTK using bitfields. Ideally those were supported in CFFI. If you really need it ... I suspect writing the wrapper in C is less work than supporting the correct sizes and alignment etc. in CFFI.

[2019-06-29 19:16] stacksmith commented on #67
I believe layout of packed bitfields is not defined by the standard.  Compilers have flags that affect structure packing behavior, making the situation very unreliable.  I always assumed bitfields are packed into ints conceptually, but that is guesswork; in this case other members follow, which makes the offsets impossible to derive reliably.

[2019-06-29 19:21] stacksmith commented on #67
I hate the idea of writing an extra C wrapper - the last time I went that route I wound up writing so much C that I was wondering why not just write the whole application in C...
I am working on a simple utility library that simplifies foreign structure access... It's a bit of a mess right now, but I will be cleaning it up as I go....

[2019-07-01 03:38] stacksmith commented on #64
Well, I can see why everything is in :gtk package... It extremely painful to deal with foreign structure definitions in different packages.
I made a pull request https://github.com/cffi/cffi/pull/145 in cffi with an improvement to with-foreign-slots macro... It allows different names to be bound to slot accessors, and therefore the ability to rebind names to cstructs in a different package...
I ha

[2019-07-03 12:27] Ferada commented on #67
Right, but all wrappers still won't allow us to access bitfields reliably, right?

[2019-07-03 17:54] stacksmith commented on #67
I can't think of a compiler that does not align to nearest power-of-two for bytes and pack bitfields.  I suppose we should dig through the spec, although just thinking about it give mes the willies.  After a brief stint on X3J11, I never want to see C++ specs ever again.

[2019-07-18 18:33] stacksmith opened #69 "BUG: cffi type parsers for g-object, g-boxed-foreign, etc... create new types every time!"
[code]
This is not what I expect from a type parser! Compare this behaviour with:
[code]
This implies that every mention of a cl-cffi-gtk-managed type in defcfun bindings likely creates a new type inside CFFI machinery.  This means thousands of unnecessary types are generated, and type equality is not consistent.
@Ferada - have you come across this?

[2019-07-18 19:16] Ferada commented on #69
I don't think CFFI gives any guarantees about it, at least searching for
"equal" doesn't give me anything from the manual. In fact even the
default `:simple-parser` argument creates a method that does not create
`eq` results:

[code]

You're right though for `defctype` it's indeed returning the same object
via the closure created by `notice-foreign-type`.

That said, it sounds to me like it would

[2019-07-18 19:31] stacksmith opened #70 "Gah, I just don't understand the design choices..."
OK, this is driving me crazy.  Either I am insane (which is possible), or most design decisions in cl-cffi-gtk are suboptimal.  I've been trying to use these bindings for a few years now.  Please take it as a constructive criticism of a frustrated user, and if you can, please document your reasoning and some details of the low-level implementation.

I already complained about gtk-text-iter being a

[2019-07-18 19:50] stacksmith commented on #69
Hmm.  It may be a cffi issue, but it makes no sense at all.  If a type parser creates a new type every time it encounters a parameter of say `(g-object gtk-text-buffer)` type, there are thousands of `#<GOBJECT::FOREIGN-G-OBJECT-TYPE...>` objects created here.  They are then referenced inside the defcfun code and used for conversion and typechecking...   This is madness.
I think I must be missing s

[2019-07-18 20:45] stacksmith commented on #69
I will defend my idea of type equality, and conjecture that this is a cl-cffi-gtk bug.

I think CFFI idea of foreign types represented by a compound identifier such as `(:STRUCT FOO)` is as well as type equality is subtle (and not specified following CL tradition of letting the user define equality for complex objects)...

There are many different c structures possible, and each one is indeed a di

[2019-07-18 21:18] stacksmith commented on #69
This is a confusion between creating an instance of a type and an instance of an object of that type.  And this is especially a problem when you don't want to create any instances at all, but pass an existing foreign object as a pointer to a C function that expects a pointer.  You certainly don't need a different CFFI type for every such a pointer parameter.

[2019-07-19 01:25] stacksmith commented on #69
Also: are any of these redundant types ever deleted?  There is also a slew of activity involving creating types in gobject.boxed-lisp.lisp, for instance, that is simply impossible to follow.  It looks like there is a whole other layer of translation involving creating new types... And for slotted objects, this is done for every slot?

[2019-07-19 17:30] stacksmith commented on #69
And CLOS dispatches translate-to-foreign and free-translated-object using these correctly, since each of these foreign type instances has the same CL type.
So each time translate-to-foreign/free-translated-object pair is compiled on a gobject, it uses a different foreign type.

[2019-07-20 17:55] Ferada commented on #69
Just out of curiosity I created a patch [here](https://github.com/Ferada/cl-cffi-gtk/pull/32) that caches these before giving them to CFFI.

I can't measure any noticeable difference (neither in memory usage, nor in speed of loading), maybe you can.

[2019-08-14 14:34] bigos opened #71 "Demo cairo clock needs little modification, why?"
https://github.com/bigos/execnik/blob/4ad4b38433bb80d39e03077a25954f554ad3f487/execnik.lisp#L93

I had to comment out the above to make your example work.

I wonder why. I had similar issue in another experiment where I blindly followed C example. Is it possible that Lisp garbage collection also destroys it?

[2019-08-14 19:43] Ferada commented on #71
[Yes](https://github.com/Ferada/cl-cffi-gtk/commit/9d461cf18e839e30fb740b564ea8ca996295e867#diff-a5a97cb6a27879d154e127954f2e903a). That's not really related to Lisp GC, it simply should not be destroyed since it's still in use in the widget that's being drawn on, though the documentation [doesn't explicitly say that](https://developer.gnome.org/gtk3/stable/GtkWidget.html#GtkWidget-draw) I suppose

[2019-08-15 01:39] stacksmith commented on #71
Funny: I did the same exact thing yesterday...

[2020-02-10 13:25] jmercouris opened #72 "Running cl-cffi-gtk on macOS"
Hi, I wanted to add the following notes which may help in the documentation for how to run some widgets on macOS.

macOS generally requires drawing from the main thread. The cl-cffi-gtk within-main-loop macro runs on the GTK thread rather than the main thread. This works most of the time, but for some special widgets like the WebKitGTK+ widget, this will not work.

If you manually invoke gtk-main

[2020-02-15 03:14] hu-moonstone commented on #28
The environment is different, but I am reporting a situation similar to this issue. Similar errors occurred with Debian 10.2, ECL 16.1.3 and SLIME unused.
The problem occurs both in REPL and in executing the binary file after compilation. It always occurs when you perform an operation such as moving the mouse over a window.

I tried with float features with-float-traps-masked but could not work ar

[2020-02-18 14:19] bpatrikm opened #73 "Stable-pointers are not thread-safe"
In order to call gtk-functions from side-threads, one is supposed to use within-gtk-thread. This leads to a stable-pointer being set up with a lambda, which a callback then funcalls, and cleared by the finaliser of gdk-threads-add-idle-full. This is (claimed to be) thread safe within gtk, but the accesses to the 'stable-pointer'-variable are not safe. So if more than one Lisp-thread uses within-gt

[2020-03-09 13:26] Ambrevar opened #74 "Shouldn't gdk-event-button-state be a gdk-modifier-type instead of a :uint?"
In gdk.event-structures.lisp, the GdkEvent declares most `state` to be gdk-modifier-type.
Except for the `touch` and button` states, but I don't understand why since they should also be a list of modifiers instead of a mask.

Is this a mistake?

[2020-03-10 20:33] crategus commented on #74
You are right. Both implementations works, but it should be consistent. Therefore I have changed :uint to gdk-modifier-type at the approbriate places.

[2020-03-10 20:33] #74 closed

[2020-03-15 14:23] crategus commented on #61
Thank you for reporting the error. The error is corrected.

[2020-03-15 14:23] #61 closed

[2020-03-15 14:28] crategus commented on #54
The error is corrected.

[2020-03-15 14:28] #54 closed

[2020-03-15 14:32] crategus commented on #59
The typo is corrected.

[2020-03-15 14:32] #59 closed

[2020-03-20 16:13] anranyicheng opened #75 "some problem with emacs+slime"
Hi,
     My environment : emacs+slime+win10 + sbcl-2.0, and I download the latest cl-cffi-gtk from github.
     When I run demo in Windows PowerShell, the demo can run immediately:
     * (ql:quickload :gtk-demo)
     * (in-package :gtk-demo)
     * (demo-grid) ;; or (demo-box),(demo-frame), and so on.
     But, when I run demo with emacs+slime, the demo is running ,but can not find the appcation

[2020-03-22 08:07] Ambrevar opened #76 "Which of crategus or Ferada fork should we follow?"
Some time ago I believe Quicklisp switched to @Ferada 's repository: https://github.com/quicklisp/quicklisp-projects/issues/1302

I see that now @crategus has resumed work on this project.

Are the two forks diverging?  What's the plan?

[2020-03-22 08:10] Ambrevar opened #77 "Which of crategus or Ferada fork should we follow?"
Some time ago I believe Quicklisp switched to @Ferada 's repository: https://github.com/quicklisp/quicklisp-projects/issues/1302

I see that now @crategus has resumed work on this project.

Are the two forks diverging?  What's the plan?

[2020-03-22 08:10] Ambrevar commented on #77
Also see https://github.com/crategus/cl-cffi-gtk/issues/57.

[2020-03-22 18:41] stacksmith commented on #77
A word of warning: @crategus seems to misunderstand that many of the GTK lightweight objects (iterators of all sorts, for instance) are meant to be stack-allocated and passed around as temporaries.  Making them full Lisp objects only to translate them back and forth, often for no reason, then deallocate them immediately is not only wasteful, but asking for bugs and GC issues.  Things are even wors

[2020-04-01 23:38] anranyicheng opened #78 "cl-cffi-gtk/demo/gtk-example/gtk-example.lisp"
(defun rel-path (filename)
  (let ((system-path (asdf:system-source-directory :cl-cffi-gtk-example-gtk)))
    (princ-to-string (merge-pathnames filename system-path))))

----->
(defun rel-path (filename)
  (let ((system-path (asdf:system-source-directory :gtk-example)))
    (princ-to-string (merge-pathnames filename system-path))))

[2020-04-02 09:58] Ferada commented on #77
Without going into details too much: I'm doing maintenance only, I'll also not spend time rebasing roughly 200 patches onto a now updated and diverging `master`. Feel free to request changing the Quicklisp entry, but then I also suggest someone does a merge so that some of the interim fixes get in too.

[2020-04-05 10:43] anranyicheng opened #79 "cl-cffi-gtk/gtk/gtk.window.lisp"
(defun gtk-window-get-position (window)
............
(with-foreign-objects ((x :int) (y :int))
    (%gtk-window-get-position window x y)
    (values (mem-ref x :int)
            (mem-ref y :int))))
------->>
  (with-foreign-objects ((x :int) (y :int))
    (%gtk-window-get-position window x y)
    (values (list (mem-ref x :int)
                       (mem-ref y :int)))))

(defun gtk-window-get-size

[2020-11-29 11:46] bqv opened #82 "Unable to create a functional executable image using CCL"
See atlas-engineer/nyxt#1057

[2020-12-05 17:05] #79 closed

[2020-12-05 17:05] #78 closed

[2020-12-05 20:10] anranyicheng opened #83 "gtk/gtk.main-loop.lisp Package Locks"
Hello, When I load  :gtk-demo, I caught an error, my envirment is Ubuntu20.04 + sbcl 2.0.11 + slime +emacs26.3:
Code:
CL-USER> (ql:quickload :gtk-demo)
To load "gtk-demo":
  Load 1 ASDF system:
    gtk-demo
; Loading "gtk-demo"
;
; caught ERROR:
;   READ error during COMPILE-FILE:
;
;     Lock on package SB-UNIX violated when interning SIGPIPE-HANDLER while in
;     package GTK.
;   See also:
;

[2020-12-06 12:02] m4zzz opened #84 "Is there a tutorial for doing keybindings in cl-cffi-gtk?"
I am trying to write an app using `cl-cffi-gtk`.
I can't seem to figure out how to do bind keys.

[2020-12-06 14:31] m4zzz commented on #84
Nevermind.
I found it.
Just use `key-press-event` signal and a handler with 2 arguments.

[2020-12-06 14:32] #84 closed

[2020-12-13 15:34] kuberlog commented on #15
Adding `(sb-int:set-floating-point-modes :traps nil)` to `~/.sbclrc` fixed the problem.

[2020-12-21 15:23] linnilbobo commented on #83
here is a tutorial on the Internet
http://www.crategus.com/books/cl-gtk/gtk-tutorial.html#Getting_started

[code]

[2020-12-22 11:33] anranyicheng commented on #83
I got it. but the code is different between quicklisp and github.
function (defun %gtk-init()....) in   https://github.com/Ferada/cl-cffi-gtk/blob/master/gtk/gtk.main-loop.lisp
is not the same as https://github.com/crategus/cl-cffi-gtk/blob/master/gtk/gtk.main-loop.lisp.

#+(and sbcl (not win32))
(sb-unix::enable-interrupt sb-unix:sigpipe #'sb-unix::sigpipe-handler)

  #+(and sbcl (not win32))
  (

[2020-12-22 11:37] anranyicheng commented on #83
https://github.com/Ferada/cl-cffi-gtk/commit/63c0c8c4dbd6012deb4b63d0b25783cde63f71a7

[2020-12-22 13:11] linnilbobo commented on #83
I don’t understand the code, sorry
but take a look at the comments
[code]

[2020-12-23 07:01] lokedhs opened #85 "Division by zero error in GTK-MAIN"
Duplicate of #6 and #15. Somehow related to SLIME (the problem does not appear outside of SLIME).

_Originally posted by @svillemot in https://github.com/crategus/cl-cffi-gtk/issues/28#issuecomment-360540746_

[2020-12-23 07:06] lokedhs commented on #85
The issue isn't directly related to SLIME. What happens is that if you use `C-c C-k` in Emacs to compile a file that loads the GTK library, the compilation happens in a different thread. Since the floating point flags are thread-specific, the change of floating point flags that happens in `gtk.package.lisp` will not that effect after loading the library. If you instead load the library from the RE

[2020-12-28 12:57] #83 closed

[2021-01-11 08:02] hunar1997 opened #86 "Why UTF-8 string is not shown properly"
Hello, I hope you have time and able to solve my problem

I've just started using `cl-cffi-gtk` and I tried [Example 1.4 from this website](http://www.crategus.com/books/cl-gtk/gtk-tutorial.html#Hello_World_in_GTK+) using both Common Lisp and C and tried showing a text in my language (Kurdish) سڵاو here are the results
![Capture](https://user-images.githubusercontent.com/14861276/104157378-14c12b8

[2021-01-17 19:05] aymeric-nb opened #87 "wrong uses of with-foreign-object"
Hi,

cairo-font-extents in cairo/cairo.text.lisp returns a (:struct cairo-font-extents-t) obtained from with-foreign-object.

However, according to with-foreign-object's documentation, the object created by it is not valid outside the scope of with-foreign-object, if I understand correctly.

Indeed, accessing a field of the returned structure leads to a crash at least under ECL on NetBSD/amd64.

S

[2021-01-18 10:02] hunar1997 commented on #86
I first thought the problem is this library, then though it's cffi's, but it turns out that my SBCL 2.0.0  on windows, used CP1252 encoding instead of UTF-8,[ here is the discussion that I posted in r/Common_Lisp](https://www.reddit.com/r/Common_Lisp/comments/kvwuuw/unicode_characters_not_shown_in_only_windows_gui/)

The fix is running `(setf sb-impl::*default-external-format* :utf-8)` before load

[2021-01-18 10:02] #86 closed

[2021-01-18 23:46] stacksmith commented on #87
There are many terrible things hidden here, due to the author's misunderstanding of GTK objects and their lifespan.  Beware.

[2021-02-09 17:05] mavis-risetti commented on #72
Can you give an example?

[2021-02-10 01:05] mavis-risetti opened #88 "Unhandled memory fault at #x10. [Condition of type SB-SYS:MEMORY-FAULT-ERROR] (Mac OS)"
This error is on Mac Os.
I was able to ```(ql:quickload :cl-cffi-gtk)```.
But when I tried to run **Example 1.2** from the [tutorial](http://www.crategus.com/books/cl-gtk/gtk-tutorial.html#Simple_Window), it gives the above error.
How should I fix this?
I have screenshots below.
![Before Running the example](https://user-images.githubusercontent.com/78014157/107449512-b3f75100-6b69-11eb-9829-6d25e

[2021-03-14 18:12] anranyicheng opened #89 "Is this an example of using g-signal-emit and multithreading correctly?"
Hi, my environment is emacs26 + slime + sbcl 2.1.2+ubuntu20.04 , Is this an example of using g-signal-emit and multithreading correctly? code:
(defun example-emit-test()
  (within-main-loop
    (let* ((window (make-instance 'gtk-window
								  :type :toplevel
								  :title "Example emit"
								  :default-width 230
								  :border-width 12))
		   (grid (make-instance 'gtk-grid
								:ori

[2021-03-19 06:56] mashomee opened #90 "Tutorial "Drawing_in_response_to_input" Undefined functions GTK-WIDGET-ALLOCATED-HEIGH GTK-WIDGET-ALLOCATED-WIDT"
[code]
Does the code outdated and functions should be
`gtk-widget-get-allocated-width` and `gtk-widget-get-allocated-heigh` ?

Also,  when I run the code, error occurs and the `cl-cffi-gtk main thread` quits.
[code]
Below is the system info:
[code]

BTW, it's really an excellent tutorial and library,
Thanks for your work!

[gtk_tut.lisp.txt](https://github.com/crategus/cl-cffi-gtk/files/6169172/gt

[2021-03-21 00:00] anranyicheng commented on #90
gtk-widget-get-allocated-width and gtk-widget-get-allocated-heigh  update to :
gtk-widget-allocated-width and  gtk-widget-allocated-height .

[2021-03-23 07:40] mashomee commented on #90
I've now notice that the `cl-cffi-gtk` I use is downloaded by `quicklisp`   from [https://github.com/Ferada/cl-cffi-gtk](url)
according to [https://github.com/crategus/cl-cffi-gtk/issues/77](url).

I really like the documentation here!

[2021-03-25 06:49] mashomee opened #91 "Is there a way not need to restart slime-inferior lisp in case of gtk main thread error in emacs?"
Currently once an error happened in the gtk main thread, I have to restart the inferior lisp  or  the following gtk windows will not
show whether it's coded correctly or not .

  Is there a way not need to restart slime-inferior lisp in case of gtk main thread error in emacs?

[2021-04-12 19:38] anranyicheng commented on #89
;; update the code

(defun example-emit-test()
  (within-main-loop
    (let* ((window (make-instance 'gtk-window
								  :type :toplevel
								  :title "Example emit"
								  :default-width 230
								  :border-width 12))
		   (grid (make-instance 'gtk-grid
								:orientation :vertical
								:row-spacing 6
								:column-homogeneous t))
   		   (button (make-instance 'gtk-button))

[2021-04-13 09:42] Ferada commented on #89
@anranyicheng looks fine, you might want to use `bordeaux-threads` instead of the SBCL-specific functions (as `cl-cffi-gtk` does as well), but otherwise it looks fine from the threading perspective. Note that you'd probably not use the signals this way, but I guess it's just an example, isn't it. Also it's probably nicer to have a stop condition in the thread loop rather than outright killing it.

[2021-05-02 08:14] hunar1997 opened #93 "The documentations needs an update"
I'm still learning cl-cffi-gtk and i've been struggling to get the items from a list store for weeks, I finally solved it by searching the source code and seeing that `gtk-tree-view-iter-first` which is [mentioned here ](http://www.crategus.com/books/cl-cffi-gtk/pages/gtk_class_gtk-tree-model.html) is renamed to `gtk-tree-view-get-iter-first` which is a better name

emacs was auto-completing `gtk-

[2021-05-17 07:27] sessions-matthew opened #94 "GtkSourceView Bindings"
Just thought I'd check in and see if anyone more familiar with this library has suggestions for adding source view.

[2021-06-02 23:08] n00p3 commented on #91
Same problem here, my solution is to select `RETURN-FROM-CALLBACK` from the restarts list in the debugger buffer instead of aborting thread by pressing 'q', 'a' or picking any other restart option.

[2021-06-11 03:32] sessions-matthew commented on #91
Put ```(ql:quickload 'swank :silent t)``` at the top of the main file and ```(swank:create-server :port 5555 :dont-close t)``` somewhere near the end (after you have already called ```gtk:within-main-loop```), then start up the script with ```sbcl --load file.lisp``` and connect to it with ```slime-connect``` instead. This has worked well for me so far.

[2021-06-27 12:30] L0ren2 commented on #12
Don't know if this is due to cl-cffi-gtk not being properly added to quicklisp (?) But if I try ```lisp (ql:quickload 'cl-cffi-gtk)```, I get an error saying:
*** - Unable to load any of the alternatives:
      ("libglib-2.0.so.0" "libglib-2.0.so")
Is there a workaround to this or am I just doing something wrong?
I basically just went ahead, downloaded clisp 2.49 and quicklisp and am now trying to

[2021-07-17 20:44] mjkalyan opened #95 "atdoc/figures/printdialog .png typo"
I assume the space in between `printdialog` and `.png` is not intended and can cause unexpected issues with some software that doesn't expect spaces in file names.

[2021-07-17 22:08] mjkalyan commented on #83
Forgive my ignorance but why is this closed? It appears to still be an issue for me. Are we expected to patch the source with the Ferada version?

[2021-08-16 22:31] stacksmith commented on #83
Just happened to me, on a clean install of everything: sbcl, quicklisp.;
[code]
The symbol in question appears to be `SIGPIPE`

[2021-08-16 22:49] stacksmith commented on #83
Lots of googling... No answers.
Removed the entire form that causes the problem, by substituting `#+nil`:
[code]
So far no problems.

[2021-11-11 03:54] apemangr opened #96 "Problem to load the library in Windows 10 with SBCL"
I followed all the steps mentioned in the INSTALL file but I got several error messages.

This is one of many

[code]

[2021-11-27 14:34] habruening opened #97 "documentation for installation incomplete"
Asdf fails to load cl-cffi-gtk

    Component :CFFI not found, required by #<SYSTEM "cl-cffi-gtk-glib-init">

The installation manual says, I must read the asdf documentation and register the dependent libraries to asdf. But the asdf manual says in case I install my stuff into ~/common-lisp/ there is nothing to do. I cloned cl-cffi-gtk to that folder, so it should work then.

I think, either the c

[2021-11-27 17:39] habruening commented on #97
OK, the problem is that I must install the dependencies first. That makes sense. The documentation should list the dependencies before the installation instructions and not after.

[2021-11-27 17:39] #97 closed

[2022-03-08 12:05] prehonor opened #98 "The function COMMON-LISP-USER::CL-CFFI-GTK-BUILD-INFO is undefined ?"
* (cl-cffi-gtk-build-info)

debugger invoked on a UNDEFINED-FUNCTION in thread
#<THREAD "main thread" RUNNING {1001F580E3}>:
  The function COMMON-LISP-USER::CL-CFFI-GTK-BUILD-INFO is undefined.

Type HELP for debugger help, or (SB-EXT:EXIT) to exit from SBCL.

restarts (invokable by number or by possibly-abbreviated name):
  0: [CONTINUE ] Retry using CL-CFFI-GTK-BUILD-INFO.
  1: [USE-VALUE] Use

[2022-03-08 12:32] prehonor commented on #98
(gtk:cl-cffi-gtk-build-info) is worked, why?

[2022-04-28 20:33] Thovthe commented on #43
There is some interest from downstream in Nyxt to have support for arm/aarch64/ARMv8.  Currently people are having trouble [compiling on that platform](https://github.com/atlas-engineer/nyxt/issues/932)

**Proposed solutions have been:**

Moving cl-cffi-gtk to the currently maintained trivial-features.  [See here.](https://github.com/atlas-engineer/nyxt/issues/932#issuecomment-754038356)

and

@lu

[2022-05-23 16:47] #89 closed

[2022-06-01 06:14] not-null-nil commented on #28
It turns out to be caused by `%gtk-main` called in `ensure-gtk-main`, so maybe wrap it with `sb-int:with-float-traps-masked (:divide-by-zero)` is a work around

[2022-07-07 13:50] Centrix14 opened #99 "Documentation does not reflect the real state of affairs"
Hello, I wanted to inform you that the documentation, apparently, does not reflect the real state of affairs in the project.

Take the gtk-builder family of functions as an example: the documentation contains a mention and description of the function gtk-builder-new-from-file, however, when using it, I get an error that it is not defined. Well, maybe I'm stupid, you ask? So it is. But here's the t

[2022-07-11 18:42] Centrix14 commented on #99
I was wrong, sorry for the noise.

[2022-07-11 18:42] #99 closed, assigned to nobody

[2022-08-22 03:04] #98 closed, assigned to nobody

[2022-10-03 10:49] shamazmazum opened #100 "Memory leak when using gdb-pixbuf"
Hi!

When I call a function like `set-image` many times, I get gigabytes of memory leaked. `gtk-image-set-from-file` is OK, but I need a pixbuf for resizing. What's wrong here?

[code]

Part of a real application where memory leak occurs:
https://github.com/shamazmazum/similar-images/blob/e11efb8e046ae3bcff85a11bd507be6a7dc5d438/viewer/viewer.lisp

[2022-11-18 17:26] binarydigitz01 commented on #12
@L0ren2 I'm using Nixos too, and am getting the same problem. This might be nixos specific...

[2022-11-20 14:23] quicklisp opened #101 "Some systems failed to build for Quicklisp dist"
Building with SBCL 2.2.7.28-02bc916fd / ASDF 3.3.5 for quicklisp dist creation.

Trying to build commit id ba198f7d29cb06de1e8965e1b8a78522d5430516

*cairo-demo* fails to build with the following error:

[code]

*cairo-example* fails to build with the following error:

[code]

*cl-cffi-gtk-demo-glib* fails to build with the following error:

[code]

*cl-cffi-gtk-gdk* fails to build with the follow

[2022-11-24 23:23] quicklisp commented on #101
Ok, I have this problem worked out with newer pango libraries, so I'll open a new issue with a new problem.

[2022-11-24 23:23] #101 closed, assigned to nobody

[2022-11-24 23:23] quicklisp opened #102 "Some systems failed to build for Quicklisp dist"
Building with SBCL 2.2.10.127-d9429f05a / ASDF 3.3.5 for quicklisp dist creation.

Trying to build commit id ba198f7d29cb06de1e8965e1b8a78522d5430516

*cairo-demo* fails to build because of a failure in  _cl-cffi-gtk_.

*cairo-example* fails to build because of a failure in  _cl-cffi-gtk_.

*cl-cffi-gtk-demo-glib* fails to build because of a failure in  _cl-cffi-gtk_.

*cl-cffi-gtk* fails to build

[2022-11-24 23:24] quicklisp commented on #102
https://github.com/cffi/cffi/issues/346#issuecomment-1320005306 explains the cause of this bug, I think.